<p class="intro">Thanks for dropping by! Feel free to leave a message.</p>

<div id="messageBoard" class="message-board">
  <% if @messages.length == 0 %>
    <p class="no-comment"><em>There are currently no comments in the guestbook.</em></p>
  <% else %>
    <% @messages.each do |msg| %>
      <div class="fullMessage">
        <div class="comment">
          <%= msg.text %>
        </div>
        <div class="guest-name">
          <%= msg.guestname %> wrote on <%= msg.created_at.strftime("%B %e, %Y at %l:%M %p") %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="form">
  <%= form_for @message, html: {id:"message-form"} do |f| %>
    <div class="commenter">
      <%= f.text_field :guestname, id: "message-commentor", placeholder: "Your Name"%>
    </div>
    <div class="comment-text-box">
      <%= f.text_area :text, id: "message-text-area", placeholder: "Add your comment here." %>
    </div>
    <div class="comment-submit">
      <%= f.submit "Submit", id: "submitMessage", :data => { disable_with: false } %>
    </div>
  <% end %>
</div>
